<!-- ADD NEW ARTICLE / EDIT ARTICLE -->
    <div class=" pt-20 transition-all">
            <h2 *ngIf="!isEdit" class="text-xl text-blue-800 font-semibold text-center mb-6">ADD NEW ARTICLE</h2>
            <h2 *ngIf="isEdit" class="text-xl text-blue-800 font-semibold text-center mb-6">EDIT ARTICLE</h2>
            <form [formGroup]="articleForm" (ngSubmit)="submit()" class="w-full m-auto">
              <input *ngIf="isEdit" formControlName="id" class="hidden" type="text">
              <div class="w-full lg:flex items-center justify-center gap-2">
                <div class="w-full lg:px-24 px-5 mb-6 lg:mb-0">
                  <label class=" uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="category">
                    Category
                  </label>
                  <div class="relative z-0">
                    <select formControlName="category" id="category"
                      class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                      <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="date">
                    Published Date
                  </label>
                  <input formControlName="date" id="date"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="date" placeholder="Enter date" autocomplete="on">
                </div>
              </div>
              <div class="w-full flex items-center justify-around">
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="title">
                    Title
                  </label>
                  <input formControlName="title" id="title"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text" placeholder="Enter title" autocomplete="on">
                  <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched" class="ms-3 -m-4">
                    <small class="text-red-500 text-xs italic" *ngIf="articleForm.get('title')?.errors?.['required']">Title is
                      Required</small>
                    <small class="text-red-500 text-xs italic" *ngIf="articleForm.get('title')?.errors?.['minlength']">Title requires
                      min 3 characters</small>
                  </div>
                </div>
              </div>
              <div class="w-full flex items-center justify-around">
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description">
                    Description
                  </label>
                  <input formControlName="description" id="description"
                    class="mal-text2 text-lg appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text" placeholder="Enter description" autocomplete="on">                  
                </div>
              </div>
              <div class="w-full flex items-center justify-around">
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0">
                  <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name">
                    Body
                  </label>
                  <textarea formControlName="body" id="body" rows="10"
                    class="mal-text2 text-lg appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                    type="text" placeholder="Enter body" autocomplete="on"></textarea>
                  <div *ngIf="articleForm.get('body')?.invalid && articleForm.get('body')?.touched" class="ms-3 -m-4">
                    <small class="text-red-500 text-xs italic" *ngIf="articleForm.get('body')?.errors?.['required']">Body is
                      Required</small>
                    <small class="text-red-500 text-xs italic" *ngIf="articleForm.get('body')?.errors?.['minlength']">Body requires
                      min 3 characters</small>
                  </div>
                </div>
              </div>
              <div class="w-full flex items-center justify-around">
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0 flex items-center gap-4">
                  <label class="uppercase text-gray-700 text-xs font-bold mb-2" for="isPublished">
                    Publish
                  </label>
                  <input formControlName="isPublished" id="isPublished" type="checkbox"  class="size-5" [value]="true">
                </div>
              </div>
              <div class="w-full flex items-center justify-around">
                <div class="w-full lg:px-24 px-5 mb-6 md:mb-0">
                  <label class="uppercase text-gray-700 text-xs font-bold mb-2" for="isPublished">
                    Upload News Image 
                  </label>
                  <br>
                  <input id="isPublished" type="file" accept="image/*"  class="" (change)="onChange($event)" >
                </div>
              </div>
              <div class="overflow-hidden bg-slate-300 rounded-lg max-w-md lg:max-w-lg lg:mx-24 mx-5 my-3">
                <img *ngIf="imageSelected" class="h-auto max-w-md lg:max-w-lg rounded-lg" [src]="prevImg" alt="image goes here...">
              </div>


              <div class="form-group mt-6 mb-2 text-center">
                <button class="bg-blue-800 m-auto flex items-center hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                            type="submit"  >
                            SAVE ARTICLE
                            <span *ngIf="isLoading">
                                <svg aria-hidden="true" class="ms-5 w-8 h-8 text-blue-500 animate-spin fill-white" viewBox="0 0 100 101" fill="none"
                          xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                            fill="currentColor" />
                          <path
                            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                            fill="currentFill" />
                        </svg>
                            </span>
                </button>
              </div>
            </form>
    </div>
